@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/variables" as *;

.contextContainer {
    @include contextcontainer(240px, 70px);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}