$bg-color: #F9F9F9;
$bg-divider: #E5E5E5;
$stroke-color: #EFF0F6;
$base-white-100: #FFFFFF;
$active-nav-item-bg: #E6F0FF;
$base-shade-70: rgba(0, 0, 0, 0.70);
$nav-link-active-bg: rgba(27, 89, 248, 0.10);
$nav-link-active-color: #1B59F8;